services:
  db:
    build:
      dockerfile: ./Dockerfile.db
    restart: always
    ports:
      - 5432:5432
    container_name: db
    env_file:
      - .env
    volumes:
      - ./data:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  backup:
    image: postgres:16.3-alpine
    restart: unless-stopped
    container_name: backup
    depends_on:
      - db
    volumes:
      - ./backup:/backup
    command: >
      bash -c "while true; do
        PGPASSWORD=$$POSTGRES_PASSWORD pg_dump -h db -U $$POSTGRES_USER -Fc $$POSTGRES_DB > /backup/$$(date +%Y-%m-%d-%H-%M-%S).dump
        echo ""Backup done at $$(date +%Y-%m-%d_%H:%M:%S)""
        ls -1 /backup/*.dump | head -n -2 | xargs rm -f
        sleep 86400
      done"
    env_file:
      - .env

  app:
    build:
      dockerfile: ./Dockerfile.prod
    restart: unless-stopped
    ports:
      - 3001:3001
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules
